* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    background-color: rgb(247, 139, 211);
    font-family: 'Caprasimo', cursive;
    color: rgb(44, 44, 44);
    line-height: 1.4;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

p {
    font-family: 'Space Grotesk', sans-serif;
}

header {
    text-align: center;
    background-color: aquamarine;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 25px;
}

main {
    /* align-items: center; */
    text-align: center;
    margin: 10rem;
    margin-top: 1rem;

}

/* main img {
    width: 200px;
    border-radius: 200px;
} */

.philosophers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 1em;
}

.philosopher img {
    /* ensure image fits entire grid space set for the .philosopher class */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.philosopher {
    /* how to scale images with different sizes in a CSS grid: https://www.shecodes.io/athena/22284-how-to-scale-images-with-different-sizes-in-a-css-grid */
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    cursor: pointer;
}